@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900&subset=latin,latin-ext);

/* CSS Document */

.active-select {
    background: #fff !important;
    border-left: 5px solid #fd8204 !important;
}

* {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.web-left {
    float: left;
}

.web-right {
    float: right;
}

.clear {
    clear: both;
}

a {
    text-decoration: none!important;
    border: 0;
    outline: none;
}

img {
    border: 0px;
    outline: 0;
}

html, body {
    font-family: 'Lato', sans-serif;
    background: #fff;
    height: 100%;
}

.hide {
    display: block;
    padding: 0;
    margin: 0;
    height: auto;
}

.hide-t {
    display: table;
}

.visible {
    display: none;
}

.visible-t {
    display: none;
}

.logo {
    padding: 8px 0 0;
    float: left;
}

.logo img {
    width: 250px;
}

.logo.sticky {
    padding: 6px 0 0;
    float: left;
}

.logo.sticky img {
    width: 200px;
}

header {
    height: 84px;
    background: #fff;
    width: 100%;
    z-index: 999
}

header.sticky {
    position: fixed;
    height: 68px;
    border-bottom: 2px solid #fd8204;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    top: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.container-mobil {
    width: 1100px;
    margin: 0 auto;
}

.mar20 {
    margin: 0 20px;
}

.menu-list ul {
    list-style-type: none;
}

.menu-list ul li {
    float: left;
    font-family: 'Lato', sans-serif;
}

.menu-list ul li a {
    color: #231f20;
    font-size: 16px;
    font-weight: 400;
    float: left;
    line-height: 85px;
    padding: 0 15px;
    height: 84px;
}

.menu-list ul li a:hover {
    color: #fff;
    background: #fd8204;
}

.slider {
    width: 100%;
    background: #231f20;
}

.leds {
    float: left;
    width: 350px;
}

.news {
    float: left;
    width: 350px;
    margin: 0 25px;
}

.catalogs {
    float: left;
    width: 350px;
    overflow: hidden;
}

.pageTitle {
    font-size: 30px;
    text-align: left;
    color: #3e3e3e;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 400
}

.leds-img {
    width: 350px;
    overflow: hidden;
    margin: 10px 0;
}

.leds-img img {
    width: 100%;
}

.pageText {
    font-size: 15px;
    color: #3e3e3e;
    text-align: left;
    font-weight: 400;
    line-height: 22px;
}

.pageText span {
    font-size: 15px;
    color: #fd8204;
    text-align: left;
    font-weight: 700;
    display: block;
    padding: 5px 0 10px;
}

.pageLink a {
    text-align: right;
    color: #fd8204;
    font-weight: 700;
    font-size: 15px;
    display: block;
    padding: 13px 0 0;
}

.pdf-bg img {
    position: absolute;
    padding: 0 0 0 10px;
    width: 340px;
    height: 82px;
}

.pdf-bg a {
    position: relative;
    /*background: url(../images/pdf-bg.jpg) top right no-repeat;*/
    width: 330px;
    height: 82px;
    margin: 10px 0 0;
    font-size: 19px;
    color: #3e3e3e;
    display: block;
    padding: 0 0 0 20px;
}

.pdf-bg span {
    position: relative;
    color: #3e3e3e;
    font-weight: 900;
    font-size: 20px;
    display: block;
}

.newsDate {
    font-size: 40px;
    font-weight: 300;
    color: #fd8204;
    text-align: left;
    float: left;
    line-height: 30px;
    margin: 14px 0 0;
    width: 20%;
}

.newsDate span {
    font-size: 28px;
    font-weight: 300;
    color: #3e3e3e;
    display: block;
    text-align: left;
}

.newsdateText {
    font-size: 15px;
    color: #3e3e3e;
    float: left;
    width: 80%;
    margin: 10px 0 0;
    line-height: 22px;
}

.newsdateText span {
    font-size: 15px;
    color: #fd8204;
    font-weight: 700;
    display: block;
    padding: 0 0 15px 0;
}

.bg-gray {
    background: #f1f1f1;
    margin: 10px 0 0;
    height: 210px;
}

.box {
    background: url(../images/box-bg.jpg) top left no-repeat;
    width: 340px;
    height: 155px;
    float: left;
    margin: 25px 0 0;
}

.box-center {
    margin-left: 40px;
    margin-right: 40px;
}


/*#footer {background: #231f20;width: 100%;height: 225px;padding: 0;}*/

#footer {
    background: url(../images/footer-pattern-03.png) top left repeat-x #231f20;
    width: 100%;
    height: 225px;
    padding: 0;
}

.footerLogo {
    float: left;
    padding: 25px 0 0;
}

.footerLogo img {
    width: 265px;
}

.footerLogo-text {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.footerTitle {
    color: #fd8204;
    font-size: 18px;
    font-weight: 700;
    margin: 25px 0 10px;
    width: 225px;
}

.footerTitle2 {
    color: #fd8204;
    font-size: 18px;
    font-weight: 700;
    margin: 25px 0 10px;
    width: 170px;
}

.footerTitle3 {
    color: #fd8204;
    font-size: 18px;
    font-weight: 700;
    margin: 25px 0 10px;
    width: 350px;
}

.footerLink {
    padding: 5px 0;
}

.footerLink ul {
    list-style-type: none;
}

.footerLink ul li {
    background: url(../images/menuicIcon.png) 0 13px no-repeat;
}

.footerLink ul li a {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    padding: 0 0 0 15px;
    line-height: 30px;
}

.social-icon {
    height: 40px;
    float: left;
    margin: 0 12px 0 0;
}

.social-icon a {
    color: #fff;
}

.social-icon span {
    position: relative;
    top: -14px;
    left: 2px;
    font-size: 13px;
    font-weight: 400;
}

.social-icon img {
    position: relative;
    top: -6px;
    width: 26px;
}

.footerText {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    width: 350px;
}


/* about signal */

.banner1 {
    background: #f1f1f1;
    width: 100%;
    height: 110px;
    border: 0px;
    position: relative;
}

.orangebg {
    width: 100%;
    background: #fd8204;
    height: 50px;
    position: relative;
    top: 25px;
    border-radius: 2px;
}

.orangebg-arrow {
    position: absolute;
    top: 46px;
    left: 50%;
    right: 50%;
    margin-left: -14px;
}

.categories-page-arrow {
    position: absolute;
    top: 46px;
    left: 50%;
    right: 50%;
    margin-left: -14px;
}

.bannerBaslik {
    color: #fff;
    font-size: 23px;
    line-height: 50px;
    text-align: center;
}

.breadcrumbs {
    padding: 10px 0 0 0;
    color: #858585;
    font-size: 15px;
    position: absolute;
}

.breadcrumbs a {
    color: #858585;
    font-size: 15px;
    font-weight: 400;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.breadcrumbs a img {
    padding: 0 5px 0 0;
}

.breadcrumbs span {
    color: #858585;
    font-size: 10px;
    font-weight: 400;
}

.categories-page-left {
    width: 286px;
    float: left;
    background: #fff;
    height: auto;
    margin: 20px 10px 10px 0;
    padding: 10px;
    position: relative;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

.categories-page-right {
    width: 780px;
    float: right;
    /* amir margin: 20px 0 0;*/
    margin: 15px 0 0;
    min-height: 465px;
}

.categories-title {
    font-size: 20px;
    color: #fff;
    height: 45px;
    font-weight: 700;
    line-height: 42px;
    background: #3b3b3b;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    border-bottom: 1px solid #f1f1f1;
}

ul.categories-menu {
    list-style-type: none;
}

ul.categories-menu li {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

ul.categories-menu li a {
    text-indent: 10px;
    font-size: 18px;
    color: #231f20;
    font-weight: 700;
    width: 100%;
    display: block;
    height: 30px;
    line-height: 30px;
}

ul.categories-menu li a:hover {
    background: #f1f1f1;
    color: #3b3b3b;
}

ul.categories-menu li ul {
    list-style-type: none;
}

ul.categories-menu li ul li {
    padding: 0;
    border: 0;
    text-indent: 30px;
}

ul.categories-menu li ul li a {
    font-size: 17px;
    color: #231f20;
    font-weight: 400;
    line-height: 30px;
    display: block;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    text-indent: 20px;
}

ul.categories-menu li ul li a:hover {
    background: #f1f1f1;
    color: #3b3b3b;
}

.categories-right-text {
    font-size: 15px;
    color: #3e3e3e;
    font-weight: 400;
    text-align: left;
}

.categories-right-text span {
    font-size: 17px;
    color: #fd8204;
    font-weight: 700;
    text-align: left;
    display: block;
    margin: 0 0 15px;
}

.hizala {
    margin: 15px 0 0;
}

.products-img a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    padding: 6px;
    position: relative
}

.products-img img {
    width: 100%;
}

.products-area {
    float: left;
    width: 31%;
    overflow: hidden;
    height: 475px;
    margin: 0 0 15px 0;
}

.products-area-center {
    float: left;
    width: 31%;
    margin: 0 20px;
}

.products-title a {
    font-size: 18px;
    color: #231f20;
    font-weight: 700;
    width: 100%;
    display: block;
    height: 30px;
    line-height: 30px;
}

.products-desc a {
    font-size: 16px;
    color: #231f20;
    font-weight: 400;
    width: 100%;
    display: block;
    line-height: 30px;
    line-height: 23px;
}

.products-btn a {
    display: block;
    width: 50%;
    background: #fd8204;
    height: 45px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    transition: all 0.3s ease 0s;
}

.products-btn a:hover {
    background: #231f20;
}

.product-detail-img {
    width: 100%;
    margin: 0 0 5px 0;
    height: 100%;
    display: inline-block;
    position: relative;
    width: 780px;
    height: 357px;
    overflow: hidden;
}

.product-detail-img img {
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin-top: -160px;
}

.product-detail {
    width: 100%;
    margin: 20px 0;
}

.products-detail-title {
    font-size: 20px;
    color: #fd8204;
    font-weight: 700;
    width: 100%;
    line-height: 30px;
    /* amir border-top: 1px solid #f1f1f1;*/
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0 15px 0;
    height: 40px;
    line-height: 40px;
}

.products-detail-title2 {
    font-size: 18px;
    color: #fd8204;
    font-weight: 700;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0 15px 0;
    height: 40px;
    line-height: 40px;
}

.products-detail-quality span {
    font-size: 15px;
    color: #3e3e3e;
    font-weight: 700;
    text-align: left;
    display: inline-block;
    width: 51px;
    height: 50px;
}

.products-detail-quality {
    font-size: 15px;
    color: #3e3e3e;
    font-weight: 400;
    text-align: left;
}

.maps {
    margin: 10px 0 0;
    padding: 10px;
    border: 1px solid #f1f1f1;
}

.mapTitle {
    margin: 18px 0;
    font-weight: 700;
    font-size: 18px;
    color: #fd8204;
}

.mapText {
    margin: 18px 0;
    font-weight: 400;
    font-size: 15px;
    color: #231f20;
}

.mapText span {
    font-weight: 700;
}

.mapText a {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    color: #231f20;
    text-decoration: underline;
}

.mapLine {
    width: 100%;
    height: 2px;
    background: #f1f1f1;
    margin: 10px 0;
}

.contactText span {
    margin: 18px 0;
    font-weight: 700;
    font-size: 16px;
    color: #231f20;
    width: 20%;
    display: inline-block;
}

.contactText input {
    width: 79%;
    height: 45px;
    border: 1px solid #e3e3e3;
    color: #3b3b3b;
    font-size: 15px;
    font-weight: 400;
    text-indent: 6px;
}

.contactTextR textarea {
    width: 79%;
    height: 150px;
    border: 1px solid #e3e3e3;
    color: #3b3b3b;
    font-size: 15px;
    font-weight: 400;
}

.contactTextR span {
    margin: 18px 0;
    font-weight: 700;
    font-size: 16px;
    color: #231f20;
    width: 20%;
    display: inline-block;
    position: relative;
    top: -70px;
}

.clearBtn {
    width: 200px;
    margin: 10px;
    float: right;
    height: 50px;
    border: 0;
    background: #231f20;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.clearBtn:hover {
    background: #f1f1f1;
    color: #231f20;
    border: 1px solid #231f20;
    height: 48px;
    width: 198px;
}

.sendBtn {
    width: 200px;
    margin: 10px;
    float: right;
    height: 50px;
    border: 0;
    background: #fd8204;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/*.sendBtn:hover {
    background: #f1f1f1;
    color: #231f20;
    border: 1px solid #231f20;
    height: 48px;
    width: 198px;
}*/

.container-a1 {
    margin: 15px 0;
}


/* My Costum */

.products-detail-desc {
    /*background-color: red;*/
}

.products-detail-desc table {
    width: 100%;
    table-layout: fixed;
    overflow-x: scroll !important;
    /*box-sizing: border-box;*/
    border-collapse: collapse;
    /*border-spacing: 0px;*/
    /*max-width: 100%;*/
    color: #333333;
    /*font-family: Verdana, Arial, sans-serif;*/
    font-size: 12px;
    line-height: 17.142858505249023px;
    /*    background-color: transparent;
    margin: 0px;
    padding: 0px;*/
    border: 1px solid #c9c9c9;
}

.products-detail-desc table tbody {
    /*display:inline-block;*/
    white-space: normal !important;
}

.products-detail-desc table tr:nth-child(odd) {
    background-color: #dcdcde;
}

.products-detail-desc table tr:nth-child(even) {
    background-color: #ffffff;
}

.products-detail-desc table tr:first-child td {
    background-color: #666;
    color: #FD8204;
}

.products-detail-desc h3 {
    font-size: 15px;
    font-weight: 600;
    color: #FD8204;
    /* background-color: #f8f8f8; */
    padding: 5px;
}

.products-detail-desc ul, ol {
    background-color: #F1F1F1;
    padding: 10px;
     /*margin-right: 20px; */
    padding-left: 30px;
    margin-top: 10px;
    padding-right: 10px;
    color: #3B3B3B;
}

.products-detail-desc table td {
    vertical-align: middle;
    border: 1px solid #c9c9c9;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #3B3B3B;
    /*min-width: 100px;*/
}


/*   321 768 madia //////////////////////////////////////////////////////////////////////// 321 768 media*/

@media screen and (min-width:321px) and (max-width:768px) {
    .hide {
        display: none;
    }
    .hide-t {
        display: none;
    }
    .visible {
        display: block;
    }
    .web-left {
        float: none;
    }
    .web-right {
        float: none;
    }
    .visible-t {
        display: table;
    }
    .logo {
        float: left;
        margin: 0 auto;
        padding: 3px 0 0;
    }
    .logo a img {
        width: 240px;
    }
    .container {
        width: 96%;
        margin: 0 auto;
        overflow: hidden;
    }
    .container-mobil {
        width: 100%;
    }
    header {
        height: 75px;
    }
    .pdf-bg img {
        padding: 0 0 0 10px;
    }
    .pdf-bg a {
        /*background: url(../images/pdf-bg.jpg) top center no-repeat;*/
        width: 89%;
        padding: 0 0 0 40px;
    }
    .leds-img {
        width: 100%;
    }
    .leds {
        float: none;
        width: 100%;
    }
    .news {
        float: none;
        width: 100%;
        margin: 0;
    }
    .catalogs {
        float: none;
        width: 100%;
    }
    .bg-gray {
        height: 85%;
    }
    .box {
        width: 100%;
        height: 155px;
        float: none;
        margin: 10px auto;
        background-position: center;
    }
    .box-center {
        margin-left: 0;
        margin-right: 0;
    }
    #footer {
        height: auto;
        padding: 0 0 50px;
        margin: 15px 0 0;
    }
    .footerLogo {
        float: none;
        padding: 5px 0 0;
        margin: 0 auto;
        text-align: center;
    }
    .footerText {
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        width: 100%;
        text-align: center;
    }
    .social-icon {
        float: left;
        width: 29%;
    }
    .social-icon a {
        font-size: 13px;
    }
    .categories-page-left {
        width: 93%;
        float: none;
        margin: 10px 0 0;
        padding: 10px
    }
    .categories-page-right {
        width: 100%;
        float: none;
        min-height: 390px;
    }
    .categories-right-text {
        font-size: 14px;
        color: #3e3e3e;
        font-weight: 400;
        text-align: left;
        padding: 10px 0 0;
        text-align: center;
    }
    .banner1 {}
    .orangebg {
        height: 50px;
        position: static;
        margin: 8px 0 0;
    }
    .breadcrumbs {
        color: #858585;
        margin: 20px auto 0;
        text-align: center;
        position: absolute;
        padding: 0;
    }
    .orangebg-arrow {
        top: 51px;
    }
    .products-area {
        float: none;
        width: 100%;
        overflow: hidden;
        height: auto;
        margin: 0 0 15px 0;
    }
    .products-area-center {
        float: none;
        width: 100%;
        margin: 0px;
    }
    .footerTitle3 {
        width: 100%;
        text-align: center;
    }
    .product-detail-img {
        float: none;
        width: 100%;
        margin: 15px 0 10px;
        padding: 0;
        height: 200px;
    }
    .product-detail-img img {
        margin-top: -110px;
    }
    .product-detai-right {
        float: none;
        width: 100%;
        margin: 10px 0;
    }
    .products-btn a {
        width: 100%;
    }
    .contactText span {
        width: 40%;
        font-size: 15px;
    }
    .contactText input {
        width: 55%;
        height: 45px;
        border: 1px solid #f1f1f1;
        color: #3b3b3b;
        font-size: 15px;
        font-weight: 400;
        text-indent: 6px;
    }
    .contactTextR textarea {
        width: 55%;
        height: 150px;
    }
    .contactTextR span {
        width: 40%;
        top: -50px;
    }
    .clearBtn {
        width: 100%;
    }
    .clearBtn:hover {
        width: 100%;
    }
    .sendBtn {
        width: 97%;
    }
/*    .sendBtn:hover {
        width: 100%;
    }*/
}


/* media 320 ////////////////////////////////////////////////////////////////////////////////320  media */

@media (max-width: 320px) {
    .hide {
        display: none;
    }
    .hide-t {
        display: none;
    }
    .visible {
        display: block;
    }
    .visible-t {
        display: table;
    }
    .web-left {
        float: none;
    }
    .web-right {
        float: none;
    }
    .logo {
        float: left;
        margin: 0 auto;
        padding: 3px 0 0;
    }
    .logo a img {
        width: 240px;
    }
    .container {
        width: 98%;
        margin: 0 auto;
    }
    .container-mobil {
        width: 100%;
    }
    header {
        height: 75px;
    }
    .pdf-bg a {
        /*background: url(../images/pdf-bg.jpg) top center no-repeat;*/
        width: 89%;
        padding: 0 0 0 40px;
    }
    .leds-img {
        width: 100%;
    }
    .leds {
        float: none;
        width: 100%;
    }
    .news {
        float: none;
        width: 100%;
        margin: 0;
    }
    .catalogs {
        float: none;
        width: 100%;
    }
    .bg-gray {
        height: 100%;
    }
    .box {
        width: 100%;
        height: 155px;
        float: none;
        margin: 10px auto;
        background-position: center;
    }
    .box-center {
        margin-left: 0;
        margin-right: 0;
    }
    #footer {
        min-height: 355px;
        margin: 15px 0 0
    }
    .footerLogo {
        float: none;
        padding: 5px 0 0;
        margin: 0 auto;
        text-align: center;
    }
    .footerLogo img {
        width: 85%
    }
    .footerText {
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        width: 100%;
        text-align: center;
    }
    .social-icon {
        float: left;
        width: 31%;
        margin: 0 6px 0 0;
    }
    .social-icon a {
        font-size: 13px;
    }
    .social-icon img {
        width: 32%;
    }
    .categories-page-left {
        width: 94%;
        float: none;
        margin: 0;
        padding: 10px
    }
    .categories-page-right {
        width: 100%;
        float: none;
        min-height: 280px;
    }
    .categories-right-text {
        font-size: 14px;
        color: #3e3e3e;
        font-weight: 400;
        text-align: left;
        padding: 10px 0 0;
    }
    .footerTitle3 {
        font-size: 16px;
        margin: 25px 0 10px;
        width: 100%;
        text-align: center;
    }
    .banner1 {}
    .orangebg {
        height: 50px;
        position: static;
        margin: 8px 0 0;
    }
    .breadcrumbs {
        color: #858585;
        margin: 20px auto 0;
        text-align: center;
        position: absolute;
        padding: 0;
    }
    .orangebg-arrow {
        top: 42px;
    }
    .products-area {
        float: none;
        width: 100%;
        overflow: hidden;
        height: auto;
        margin: 0 0 15px 0;
    }
    .products-area-center {
        float: none;
        width: 100%;
        margin: 0px;
    }
    .footerTitle3 {
        width: 100%;
        text-align: center;
    }
    .product-detail-img {
        float: none;
        width: 100%;
        margin: 15px 0 10px;
        padding: 0;
        height: 180px
    }
    .product-detail-img img {
        margin-top: -120px;
    }
    .product-detai-right {
        float: none;
        width: 100%;
        margin: 10px 0;
    }
    .products-btn a {
        width: 100%;
    }
    .contactText span {
        width: 40%;
        font-size: 15px;
    }
    .contactText input {
        width: 55%;
        height: 45px;
        border: 1px solid #f1f1f1;
        color: #3b3b3b;
        font-size: 15px;
        font-weight: 400;
        text-indent: 6px;
    }
    .contactTextR textarea {
        width: 55%;
        height: 150px;
    }
    .contactTextR span {
        width: 40%;
        top: -50px;
    }
    .clearBtn {
        width: 100%;
    }
    .clearBtn:hover {
        width: 100%;
    }
    .sendBtn {
        width: 96%;
    }
/*    .sendBtn:hover {
        width: 100%;
    }*/
}