/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    width: 54px;
    list-style: none;
	padding: 0;
	margin: 0 0 0 3px;
    background: #f3f3f3;
}
.dropit .dropit-open .dropit-submenu { display: block; }

.dropit-submenu li  {text-align: center;height: 30px;border-bottom: 1px solid #e3e2e2;} 
.dropit-submenu li a {font-size: 11px;color: #3d3d3d;text-align: center; line-height: 31px;}

@media screen and (min-width:321px) and (max-width:768px){ 
    .dropit .dropit-submenu {top: 50px;}
}
@media (max-width:320px){ 
    .dropit .dropit-submenu {top: 50px;}
}